{% extends 'ProyectoFinal/base.html' %}


{% block contenido %}

<form method="get">

    <p>
        Nombre Jugador: <input type="text" name="nombre_jugador">
    </p>
    <input type="submit" value="Buscar">
</form>


{% if listado_jugadores %}

<table class="table table-dark" border="1px solid black">
    <thead>
      <tr>
        <th scope="col" style="color: green;">Nombre</th>
        <th scope="col" style="color: green;">Apellido</th>
        <th scope="col" style="color: green;">Edad</th>
        <th scope="col" style="color: green;">Puesto</th>
      </tr>
    </thead>
    <tbody>


    {% for jugador in listado_jugadores %}
    <tr>
        <td style="font-style: italic;">{{jugador.nombre}}</td>
        <td>{{jugador.apellido}}</td>
        <td>{{jugador.edad}}</td>
        <td>{{jugador.puesto}}</td>
      </tr>
    
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}