{% extends 'ProyectoFinal/base.html' %}


{% block contenido %}
<h1>Football Management</h1>
<p>Bienvenidos a la plataforma de football Management</p>

<p>Plataforma dedicada a gerenciamiento de jugadores, entrenadores y clubes de una misma zona</p>
<p>Con la idea de facilitar el acceso a la informacion de los recursos disponibles para poder armar plantillas y realizar transferencias</p>
<p>Cuenta con interfaz sencilla y amigable pero cumple con todos los requisitos necesarios para sacar el 100% de su funcionalidad</p>

{% endblock %}