{% extends 'ProyectoFinal/base.html' %}


{% block contenido %}
<h1>Jugadores</h1>
<p>Estos son nuestros jugadores</p>

<table class="table table-dark" border="1px solid black">
    <thead>
      <tr>
        <th scope="col" style="color: green;">Nombre</th>
        <th scope="col" style="color: green;">Apellido</th>
        <th scope="col" style="color: green;">Edad</th>
        <th scope="col" style="color: green;">Puesto</th>
      </tr>
    </thead>
    <tbody>
      
        {% for jugador in lista_jugador %}
      <tr>
        <td style="font-style: italic;">{{jugador.nombre}}</td>
        <td>{{jugador.apellido}}</td>
        <td>{{jugador.edad}} años</td>
        <td>{{jugador.puesto}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>



</body>
</html>

{% endblock %}